.dashboard {
	min-width: 30rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
	flex-grow: 1;
	align-self: flex-start;
	gap: 2rem;
	margin: 5rem 0 0 0;
}
.booksGrid {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
}
.bookRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.shelfImg {
    position: absolute;
    width: 1500px;
}
.addBtn {
	background: #11243a;
	color: #fff;
}
.addBtn:hover {
	color: #11243a !important;
	border-color: #11243a !important;
	background: transparent !important;
}
