.loginWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5rem;
}
.loginHeader {
    margin-bottom: 5rem;
}
.loginBtn {
    width: 200px;
    height: 32px;
    background: none;
    box-shadow: none;
    border: 1px solid #391e10;
    border-radius: 6px;
    color: #fff;
    font-size: 1.6rem;
    z-index: 0;
}
.loginBtn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #391e10;
    width: 200px;
    height: 32px;
    border-radius: 6px;
    z-index: -1;
    transition: .4s;
}
.loginBtn:hover {
    color: #391e10;

}
.loginBtn:hover::after {
    width: 0px;
}