.loginWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5rem;
}
.loginHeader {
    margin-bottom: 5rem;
}
.loginBtn {
    width: 100%;
    height: 3.2rem;
    background: #391e10;
    box-shadow: none;
    border: none;
    border-radius: 6px;
    margin-top: 1rem;
    color: #fff;
    font-size: 1.6rem;
    transition: .3s;
}

.loginBtn:hover {
    background: #eee1d0;
    color: #391e10;
}

.signupInfo {
    font-size: 1.6rem;
    margin-top: 2rem;
}

.signupInfo a {
    font-weight: 700;
    text-decoration: underline;
}