.shelfWrapper {
    width: 100%;
}
.shelfRow {
    position: relative;
	display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 15rem;
}

.shelfImg {
    position: absolute;
    height: 150px;
    width: 100%;
    max-width: 200rem;
    bottom: -10rem;
}