:where(.css-dev-only-do-not-override-57zc5r).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: #11243a !important;
    outline: none; 
}

:global(.genreSelect .ant-select-selection-item[title='Select genre']) {
    color: rgba(0, 0, 0, 0.25) !important;
  }
  