.searchPage {
  width: 100%;
  max-width: 200rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6rem;
  padding: 3rem;
}
.searchBarWrapper {
    position: relative;
}
.searchBar {
  margin-top: 1rem;
  max-width: 100rem;
  height: 5rem;
}
.recentBooks {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 1rem;
}
